{% extends "layout.html" %}
{% block title %}
<title>Đơn hàng</title>
{% endblock %}
{% block content %}
<!--=====================
          Content
======================-->
               <!-- WRITE CODE HERE -->

<style>
     .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}          
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 30%;
    color: black;
    line-height: 60px;

  }
  .column1 {
    float: left;
    width: 30px;

  } */
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
  }
  </style>

<body>
<div style="background-color: burlywood" src="views.py">
  <h2 style="font-size: 40px"> {{ order1.cusname }} </h2>
    <div style="font-size: 20px; background-color: cornsilk ;width: 800px;line-height: 1.6;">
      <div class="row">
        <div class="column1">
          <p> </p>
        </div>
        <div class="column"  >
          <h2>Món ăn</h2>
          <ul>
            <li> {{order1.name[0]}}</li>
            <li> {{order1.name[1]}}</li>
            <li> {{order1.name[2]}}</li>
            <li> {{order1.name[3]}}</li>
            <li> {{order1.name[4]}}</li>
            <li> {{order1.name[5]}}</li>
          </ul>
        </div>
        <div class="column">
          <h2>Số lượng</h2>
          <ul>
            <li> {{order1.quantity[0]}}</li>
            <li> {{order1.quantity[1]}}</li>
            <li> {{order1.quantity[2]}}</li>
            <li> {{order1.quantity[3]}}</li>
            <li> {{order1.quantity[4]}}</li>
            <li> {{order1.quantity[5]}}</li>
          </ul>
        </div>
        <div class="column">
          <h2>Tình trạng</h2>
            <div class="dropdown">
             <button class="dropbtn">{{order1.state[0]}}</button>
                <div class="dropdown-content">
                  <a onclick="Rerender(0)">Chưa làm</a>
                  <a onclick="Rerender(1)">Đang làm</a>
                  <a onclick="Rerender(2)">Đã xong</a>
                  <a onclick="Rerender(3)">Xóa</a>
                </div>
            </div> 
            <br>
            <div class="dropdown">
                <button class="dropbtn">{{order1.state[1]}}</button>
                   <div class="dropdown-content">
                     <!-- <a onclick="order1.state[1]=status[0]" onclick="Rer">Chưa làm</a>
                     <a onclick="order1.state[1]=status[1]">Đang làm</a>
                     <a onclick="order1.state[1]=status[2]">Đã xong</a>
                     <a onclick="order1.state[1]=status[3]">Xóa</a> -->
                     <a onclick="Rerender(0)">Chưa làm</a>
                  <a onclick="Rerender(1)">Đang làm</a>
                  <a onclick="Rerender(2)">Đã xong</a>
                  <a onclick="Rerender(3)">Xóa</a>
                   </div>
            </div> 
            <br>
            <div class="dropdown">
                <button class="dropbtn">{{order1.state[2]}}</button>
                   <div class="dropdown-content">
                    <a onclick="Rerender(0)">Chưa làm</a>
                    <a onclick="Rerender(1)">Đang làm</a>
                    <a onclick="Rerender(2)">Đã xong</a>
                    <a onclick="Rerender(3)">Xóa</a>
                    </div>
            </div> 
            <br>
            <div class="dropdown">
                <button class="dropbtn">{{order1.state[3]}}</button>
                   <div class="dropdown-content">
                    <a onclick="Rerender(0)">Chưa làm</a>
                  <a onclick="Rerender(1)">Đang làm</a>
                  <a onclick="Rerender(2)">Đã xong</a>
                  <a onclick="Rerender(3)">Xóa</a>
                    </div>
            </div> 
            <br>
            <div class="dropdown">
                <button class="dropbtn">{{order1.state[4]}}</button>
                    <div class="dropdown-content">
                        <a onclick="Rerender(0)">Chưa làm</a>
                        <a onclick="Rerender(1)">Đang làm</a>
                        <a onclick="Rerender(2)">Đã xong</a>
                        <a onclick="Rerender(3)">Xóa</a>
                    </div>
            </div> 
            <br>
            <div class="dropdown">
                <button class="dropbtn">{{order1.state[5]}}</button>
                    <div class="dropdown-content">
                        <a onclick="Rerender(0)">Chưa làm</a>
                        <a onclick="Rerender(1)">Đang làm</a>
                        <a onclick="Rerender(2)">Đã xong</a>
                        <a onclick="Rerender(3)">Xóa</a>
                    </div>
            </div>     
      </div>
    </div>
  </div>  
</div>
<script>
    
    function Rerender(i) {
      switch (i) 
      {
        case 0:  
          alert("Thay đổi trạng thái sang chưa làm")  
          break;
        case 1:
        alert("Thay đổi trạng thái sang đang làm")
          break;
        case 2:
        alert("Thay đổi trạng thái sang đã xong")
          break;
        case 3:
        alert("Đã xóa")
        break;
      }
    }
</script>
</body>


{% endblock %}