{% extends "layout.html" %}
{% block title %}
<title>Đặt món</title>
{% endblock %}
{% block content %}
<!--=====================
          Content
======================-->

<!--chỉnh quầy hàng-->
<div class="grid_12" style="display:inline-block">
  <form method="POST">
    <div class="container-4" style="margin-top: 20px; margin-bottom: 30px">

      <input type="search" id="search" name="search" placeholder="Tìm món ăn..." value="{{request.form.search}}"/>
      <button class="icon" value="Search"><i class="fa fa-search"></i></button>
    
    </div>
  </form>
</div>

  <!--<form>
    <input type="text" name="search" placeholder="Search..">
  </form>-->
{%if not stall and not food%}
<h2 style="line-height: 40px; margin-bottom: 30px">Result not found</h2>

{%else%}
{%if stall%}
<div class="grid_12" style="display:inline-block">
  <h2 style="line-height: 30px; margin-bottom: 30px">Quầy ăn</h2>
</div>
<div class="gallery" style="display:inline-block; margin-left: 20px">
{%for s in stall%}
  <div class="grid_3" style="display:inline-block;border:1px solid lightgray; margin-bottom: 30px"><a href="order{{s.name}}" class="gall_item; background-color: white"><img src=static/images/{{s.img}} height="200" width=100%>
    <h2 style="font-size: 25px; line-height: 10px; margin-left: 10px; margin-bottom: 30px">{{s.name}}</h2></a>
  </div>
{%endfor%}
</div>
{%endif%}

{%if food%}
<div class="grid_12" style="display:inline-block">
  <h2 style="line-height: 30px; margin-bottom: 30px">Món ăn</h2>
</div>
<div class="gallery" style="display:inline-block; margin-left: 20px">
{%for f in food%}
  <div class="grid_3" style="display:inline-block;border:1px solid lightgray; margin-bottom: 30px"><a href="order{{f.stall}}" class="gall_item; background-color: white"><img src=static/images/{{f.food.img}} height="200" width=100%>
    <h2 style="font-size: 25px; line-height: 10px; margin-left: 10px; margin-bottom: 30px">{{f.stall}} - {{f.food.name}}</h2></a>
  </div>
{%endfor%}
</div>
{%endif%}

{%endif%}

{% endblock %}