{% extends "layout.html" %}
{% block title %}
<title>Tài khoản </title>
{% endblock %}
{% block content %}
<!--=====================
          Content
======================-->
<!-- WRITE CODE HERE -->
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->

    <center>
        <div class="loginbox">
            <img src="static/images/avatar.png" class="avatar">
            {%if not user['id']%}
            <h1 style="margin-bottom:20px">ĐĂNG NHẬP</h1>
            <form action="" method="post">
                <p>Username</p>
                <input type="text" placeholder="Enter Username"
                    name="username" value="{{request.form.username}}">
                <p>Password</p>
                <input type="password" placeholder="Enter Password"
                    name="password" value="{{request.form.password}}">
                <input type="submit" value="Đăng nhập">
                <a href="/signup" >
                    Đăng kí tài khoản mới
                </a>
            </form>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            {% else %}
            <p style="text-align: right">Xin chào {{user['name']}}</p>
            <p style="text-align: right">Số tiền trong ví: {{"{:,}".format(user['wallet'])}}đ</p>
            <br>
            <a href="/recharge" >
                <input type="submit" value="Nạp tiền">
            </a>
            <a href="/logout" >
                <input type="submit" value="Đăng xuất">
            </a>
            {% if user['stall_id'] %}
            <a href="/report" >
                Xem báo cáo về quầy của bạn
            </a>
            {% endif %}
            {% endif %}
        </div>
    </center>

{% endblock %}