{% extends "layout.html" %}
{% block title %}
<title>Tài khoản </title>
{% endblock %}
{% block content %}
<!--=====================
          Content
======================-->
<!-- WRITE CODE HERE -->
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->

    <center>
        <div class="loginbox">
            <img src="static/images/avatar.png" class="avatar">
            <h1 style="margin-bottom:20px">ĐĂNG NHẬP</h1>
            <form action="" method="post">
                <p>Username</p>
                <input type="text" placeholder="Enter Username"
                    name="username" value="{{request.form.username}}">
                <p>Password</p>
                <input type="password" placeholder="Enter Password"
                    name="password" value="{{request.form.password}}">
                <input type="submit" value="Đăng nhập">
                <a href="/signup" >
                    Đăng kí tài khoản mới
                </a>
            </form>
            {% if error %}
            <p class="error">Error: {{ error }}</p>
                {% endif %}
        </div>
    </center>

{% endblock %}