{% extends "layout.html" %}
{% block title %}
<title>Đặt món</title>
{% endblock %}
{% block content %}
<!--=====================
          Content
======================-->

<!--style="display:inline-block;border:1px solid lightgray"-->
<div class="grid_12" style="display:inline-block; margin-left: 0px">
  <h2>Kiểm tra giỏ hàng</h2>
</div>
<span id="cart">
{%if food%}
<div class="grid_10" style="display:inline-block; border: 1px solid lightgray; border-top: 0;">
{%for f in food%}
  <div class="grid_10" style="display:inline-block; margin: 0; border-top: 1px solid lightgrey">
    <div style="display:inline-block; width: 300px">
      <img src=static/images/{{f.img}} style="margin-right: 20px;" height="120" width="150" align="left">
      <div class="grid_2" style="display:inline-block; width: 100px; margin-left: 0px">
        <h2 style="font-size: 20px; margin-bottom: -5px; margin-top: -20px">{{f.name}}</h2>
        <div>{{f.cost}},000đ</div>
      </div>
    </div>
  <div style="display:block; width: 320px; padding-bottom: 30px; padding-top: 10px; float: right">
    <div style="display:block; width: 100px; margin: 0px; padding-top: 45px; float: right">
      <a href="javascript:remove('{{f.foodID}}');" style="margin-left: 20px; font-size: 15px;">
        Xóa</a>
    </div>
    
    <div style="display:block; width: 100px; margin: 0px; margin-top: 10px; float: right">
      <div align='center'>Số tiền</div>
      <br>
      <div style="line-height: 10px; color: #000;" align='center'>{{f.cost*count[food.index(f)]}},000</div>
    </div>

    <div style="display:block; width: 100px; margin: 0px; margin-top: 10px; margin-right: 10px; float: right">
      <div align='center'>Số lượng</div>
      <div style="display:block; width: 100px; margin: 0px; margin-top: 10px; float: right">
        <a href="javascript:addtoCart('{{f.foodID}}');" class="link1" style="margin: 0; width: 30px; height: 30px; line-height: 30px;">+</a>
        <a href="javascript:reduce('{{f.foodID}}');" class="link1" style="margin: 0; width: 30px; height: 30px; line-height: 30px; float: left">-</a>
        <div style="line-height: 30px; color: #000" align='center'>{{count[food.index(f)]}}</div>
      </div>
    </div>
    </div>
  </div>
{%endfor%}
</div>
{%endif%}

<div class="grid_10" style="display:inline-block; border: 0">
  <div style="display:block; width: 150px; margin: 0px; padding-top: 20px; float: right">
    <a href="/pay" align='center' >
      <div style="background-color: white; width: 150px; height: 30px; border: 1px solid darkgray; padding-top: 10px; font-size: 15px;">Thanh toán</div>
    </a>
  </div>
  <div style="display:block; width: auto; margin-top: -10px; margin-right: 20px; float: right">
    <h2 align='right'>{{total}},000đ</h2>
  </div>
  <div style="display:block; padding-top: 30px; margin-right: 20px; float: right">
    <div style="font-size: 20px" align='right'>Tổng:</div>
  </div>
</div>
</span>


<script>
  function addtoCart(foodID) {
      $.post('/add', {
          ID: foodID
      });
      $('#cart').load(location.href+" #cart>*","");
  }
  function reduce(foodID) {
      $.post('/reduce', {
          ID: foodID
      });
      $('#cart').load(location.href+" #cart>*","");
  }
  function remove(foodID) {
      $.post('/remove', {
          ID: foodID
      });
      $('#cart').load(location.href+" #cart>*","");
  }
</script>

{% endblock %}