{% extends "layout.html" %}
{% block title %}
<title>Đơn hàng</title>
{% endblock %}
{% block content %}
<!--=====================
          Content
======================-->
               <!-- WRITE CODE HERE -->

<style>
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
     .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}          
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 33%;
    color: black;
    line-height: 60px;

  }
  .column1 {
    float: left;
    width: 1%;

  } */
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
  }
  </style>

<body style="background-color:blanchedalmond;">
    <div style="background-color: blanchedalmond;">
      <a href="detailorder"> 
          <h2 style="text-align: center;">{{order.name}}</h2>
      </a>
    </div>
  <div style="text-align: center;">
  <div style="background-color: burlywood;">
    <div class="row">
      <div class="column1">
        <p> </p>
      </div>
      <div class="column">
        <h2 style="font-size: 30px; background-color: white; ">Món ăn</h2>
      </div>
      <div class="column">
        <h2 style="font-size: 30px; background-color: black; color: white">Số lượng</h2>
      </div>
      <div class="column">
        <h2 style="font-size: 30px; background-color: white;">Trạng thái</h2>
      </div>
    </div>
    {%for f in order.food%}
    <div class="row">
      <div class="column1">
      <p> </p>
      </div>
      <div class="column">
        <ul>
        <li style="font-size: 25px; color: black; line-height: 60px;">{{f.name}}</li>
        </ul>
      </div>
      <div class="column">
        <ul>
        <li style="font-size: 25px; color: black; line-height: 60px;"> {{f.quantity}} </li>

        </ul> 
      </div>
    <div class="column"  >
        <ul>
       
          <div class="dropdown">
            <button class="dropbtn">{{f.state}}</button>
               <div class="dropdown-content">
                {%for s in foodstatus%}
                <form action="/changestatus{{order.orderID}},{{f.foodID}},{{s}}" method="POST">
                    {%if status[s] == f.state%}
                    {%else%}
                    <button class="btn default" onclick = "alert('Thay đổi trạng thái thành công ')"  name ="req"> {{status[s]}} </button>
                    {%endif%}
                </form>
                {%endfor%}
                </div>
          </div> 
        <br>
       
        </ul>
    </div>
    </div>
    {%endfor%}
    </div>
    </div>

</body>

<script>
   
  // function Rerender() {
  //       alert("Thay đổi trạng thái thành công ");   
  // }
</script>

{% endblock %}