{% extends "layout.html" %}
{% block title %}
<title>Tài khoản </title>
{% endblock %}
{% block content %}
<!--=====================
          Content
======================-->
               <!-- WRITE CODE HERE -->
<center>
    <div class="loginbox">
        <img src="static/images/avatar.png" class="avatar">
        <h1 style="margin-bottom:20px">ĐĂNG KÍ</h1>
        <form action="" method="post">
            <input type="text" placeholder="Họ và tên"
                name="name" value="{{request.form.name}}">
            <input type="text" placeholder="Email"
                name="email" value="{{request.form.email}}">
            <input type="text" placeholder="Username"
                name="username" value="{{request.form.username}}">
            <input type="password" placeholder="Mật khẩu"
                name="password" value="{{request.form.password}}">
            <input type="password" placeholder="Xác nhận mật khẩu"
                name="confirmpass" value="{{request.form.confirmpass}}">
            <input type="submit" value="Đăng kí">
            <a href="/account" >       
                Đã có tài khoản?
            </a>
        </form>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</center>
               
{% endblock %}

