{% extends "layout.html" %}
{% block title %}
<title>Đặt món</title>
{% endblock %}
{% block head %}
<script>
$(function(){
  $('#1-2').show();
  $("btn").click(function(){
    $("#1-2").hide();
  })
});
</script>
{% endblock %}
{% block content %}
<!--=====================
          Content
======================-->

<!--style="display:inline-block;border:1px solid lightgray"-->
<div class="grid_12" style="display:inline-block; margin-left: 0px">
  <form action="/order" method="POST">
    <div class="container-4" style="margin-top: 20px; margin-bottom: 30px">
      <input type="search" id="search" name="search" placeholder="Tìm món ăn..."/>
      <button class="icon" value="Search"><i class="fa fa-search"></i></button>
    </div>
  </form>
</div>

<div class="grid_12" style="display:inline-block; margin-bottom: 30px; clear: both"><img src=static/images/{{stall.img}} height="300" width="500" align="left">
<a href="order{{stall.name}}"> 
  <div class="grid_3" style="display:inline-block">
    <h2 style="margin-top: -10px; margin-bottom: 10px">{{stall.name}}</h2>
    <div>{{stall.min}},000-{{stall.max}},000đ</div>
  </div>
</a>
</div>

<div class="grid_7" style="display:inline-block;border:1px solid lightgray">

<form method="POST">
  <div class="container-4" style="float: left; width: 100%; border: none; border-radius: 0px;">
    <input type="search" id="search2" name="search" style="width: 100%" placeholder="Tìm món ăn..." />
    <button id="btn" class="icon"><i class="fa fa-search"></i></button>
  </div>
</form>

{%for f in food%}
<span id="{{f.stallID}}-{{f.foodID}}">
  <div class="grid_7" style="display:inline-block; margin: 0; border-top: 1px solid lightgrey"><img src=static/images/{{f.img}} style="margin-right: 20px;" height="150" width="200" align="left">
    <a href="javascript:addtoCart('{{f.stallID}}-{{f.foodID}}');" class="link1">+</a>
    <div class="grid_2" style="margin-left: 0px">
      <h2 style="font-size: 25px; margin-bottom: -5px; margin-top: -10px">{{f.name}}</h2>
      <div>{{f.cost}},000đ</div>
    </div>
  </div>
</span>
{%endfor%}
</div>

<script>
  function addtoCart(foodID) {
    $.post('/add', {
      ID: foodID
    });
    $('#'+foodID).load(location.href+" #"+foodID+">*","");
  }
</script>

{% endblock %}
