{% extends "layout.html" %}
{% block title %}
<title>Đơn hàng</title>
{% endblock %}
{% block content %}
<!--=====================
          Content
======================-->
               <!-- WRITE CODE HERE -->
              
<style>
                *{
                  box-sizing: border-box;
                }
                
               
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 33%;
    color: black;

  }
  .column1 {
    float: left;
    width: 1%;

  } */
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
  }
</style>

<body>
<div  style="background-color: blanchedalmond;">
{%for ors in orderls.order%}
  {%if ors.name %}
    <h2 style=" color: black;" >Tên khách: {{ors.name}}</h2>
  {%endif%}
  <div style="text-align: center;">
  <div style="background-color: burlywood;">
    <div class="row">
      <div class="column1">
        <p> </p>
      </div> 
     
          <div class="column"  >
            <h2 style="font-size: 30px; background-color: white; ">Món ăn</h2>
            <ul>
              {%for x in limit%}
                <li style="font-size: 25px; color: black; line-height: 40px;">{{ors.food[x].name}}</li>
              {%endfor%}
            </ul>
          </div>
          <div class="column"  >
            <h2 style="font-size: 30px; background-color: black; color: white">Số lượng</h2>
            <ul>
              {%for x in limit%}
                <li style="font-size: 25px; color: black; line-height: 40px;">{{ors.food[x].quantity}}</li>
              {%endfor%}
              </ul>
          </div> 
          <div class="column"  >
            <h2 style="font-size: 30px; background-color: white;">Trạng thái</h2>
            <ul>
              {%for x in limit%}
              <li style="font-size: 25px; color: black; line-height: 40px;">{{ors.food[x].state}}</li>
             {%endfor%}
            </ul>
          </div>
    </div>
 
  </div>
  </div>
  {%if ors.food[3]%}
    <p style="color: white; font-size: 30px;text-align: left;background-color: blue; height: 50px; line-height: -20px;"><a href="detailorder{{ors.name}}" >Xem thêm</a></p>
    {%else%}
    <p style="color: white; font-size: 30px;text-align: left;background-color: blue; height: 50px; line-height: -20px;"><a href="detailorder{{ors.name}}" >Hiệu chỉnh</a></p>
  {%endif%}

  {%endfor%}
</div>

</body>

{% endblock %}