{% extends "layout.html" %}
{% block title %}
<title>Đơn hàng</title>
{% endblock %}
{% block content %}
<!--=====================
          Content
======================-->
               <!-- WRITE CODE HERE -->
<body>
               <div style="background-color: burlywood">
                
                   
                    <h2 style="font-size: 60px">Khach hang 1</h2>
                    <ul style="font-size: 20px; background-color: cornsilk ;width: 400px;line-height: 1.6;" src="views">
                        <li style="color: blue"> Mon an A:<a href="status"> <var>{{state}}</var> </a></li>
                        <li style="color: blue">Mon an B: <a href="status"> <var>{{state}}</var></a></li>
                        <li style="color: blue">Mon an C: <a href="status"> <var>{{state}}</var></a></li>
                        <li style="color: blue"><a href="#"><u> xem them</u></a></li>
                    </ul>
                    <h2 style="font-size: 60px">Khach hang 2</h2>
                    <ul>
                        <li style="color: blue"><p>Mon an D: </p> <a= href="status.html">state</a></li>
                        <li style="color: blue"><p>Mon an E: </p> <a= href="status.html">state</a></li>
                        <li style="color: blue"><p>Mon an F: </p> <a= href="status.html">state</a></li>
                    </ul>        
                   
              </div>
</body>

{% endblock %}